<div class="slider-box">
    <ul class="slider-list">
        <%_.each(data,function(item){%>
            <li>
                <a href="javascript:;" data-id="<%=item.id%>" >
                    <img src="resource/images/loadimg.png" data-src="<%=ST.PATH.IMAGE+item.pic%>" alt=""/>
                </a>
            </li>
        <%})%>
    </ul>
    <div class="slider-point">
        <ul class="js-sliderIdx">
            <%_.each(data,function(item,i){%>
               <li class="<%=(i==0?"on":"")%>"></li>
            <%})%>                         
        </ul>
    </div>
</div>
